<div id="menu">
   <div class="gray-box" id="menu-sub">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="boxcontent menu-nav">
            <?php $DisplayMenu->display(); ?>
        </div>
    <b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
    </div>
</div>

<div class="white-box" id="content">
    <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="boxcontent" id="subcontent">
        
            <?php $DisplayContent->display(); ?>
            
        </div>
    <b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
    